* {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

/* header section styles */
.header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)), url(../images/donation0.jpg);
    height: 627px;
    background-size: cover;
    color: white;
    background-repeat: no-repeat;
    max-width: 100%;
    text-align: center;
}

.header-content {
    padding-top: 150px;
}

.header-title {
    font-size: 65px;
    font-weight: 800;
    margin-bottom: 30px;
}

.header-description {
    font-size: 18px;
    font-weight: 500;
    padding: 0px 300px;
    margin-bottom: 30px;
}

.text-primary {
    background-color: #fc0345;
    color: white;
}

.btn {
    border: 0;
    padding: 15px;
    font-size: 19px;
    font-weight: 600;
    border-radius: 5px;
}

/* Donate Today Section */
.donate-today-container {
    text-align: center;
}

.section-header {
    margin-top: 130px;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 30px;
}

.section-description {
    font-size: 20px;
    font-weight: 500;
    padding: 0px 300px;
    margin-bottom: 30px;
}

.donate-ammount {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.item {
    height: 90px;
    width: 150px;
    font-size: 25px;
    font-weight: 800;
    background-color: rgba(233, 232, 232, 0.3);
    list-style: none;
    padding-top: 50px;
    border-radius: 4px;
}

li:hover {
    background-color: #fdb9b9;
    color: #fc0345;
    border: 1px solid;
}

.input-amount input {
    margin-top: 50px;
    border: 0;
    border-bottom: 1px solid gray;
    padding: 10px 320px;
    margin-bottom: 30px;
}

/* donate plan section */
.donate-plan {
    text-align: center;
}

.plan-items {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.plan-item1 {
    background-color: rgb(209, 255, 240);
}
.plan-item2 {
    background-color:#ffe7e7;
}
.plan-item3 {
    background-color:rgb(241, 241, 175);
}
.plan-item1,.plan-item2, .plan-item3 {
    padding: 10px ;
    height: 250px;
    width: 350px;
}

.info-header {
    margin-top: 25px;
    font-size: 26px;
    margin-bottom: 30px;
}

.info-description {
    font-size: 18px;
}

/* blog section styles */
.blog-show {
    display: flex;
    justify-content: space-between;
}
.blog-info {
    padding: 20px 50px;
}
.blog-header {
    font-size: 30px; 
}

.blog-description {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 30px;
}

.blog-image {
    margin: 100px 50px;
}

/* Contact Section styles */
.contact-container {
    text-align: center;
}
.response {
    height: 200px;
    width: 750px;
    background-color: rgb(255, 253, 147);
    margin: 50px 300px 200px 300px;
}

.form-response {
    display: flex;
    justify-content: center;
    padding: 75px;
}
.email, .subscribe {
    border: 0;
}
.form-response .email {
    height: 47px;
    width: 270px;
    background-color: rgb(165, 165, 165);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.form-response .subscribe {
    background-color:#fc0345;
    height: 49px;
    width: 150px;
    color: #ffe7e7;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
/* footer section styles */
.footer {
    background-color: black;
    text-align: center;
}
.footer h3 { 
    padding: 30px 0px;
    color: orangered;
    font-size: 36px;
    font-family: 'Lobster', cursive;
}

.footer p {
    color: white;
    font-size: 12px;
    padding-bottom: 25px;
}